.msb {
  width: 200px;
  background-color: #382f9c !important;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  min-height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  height: 100%;
  z-index: 1;
  border-right: 1px solid #ddd;
}

.msb .navbar {
  border: none;
  margin-left: 0;
  background-color: inherit;
}
.msb .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 20px;
  background: #fff;
}

.msb .navbar-nav li {
  display: block;
  width: 100%;
}
.msb .navbar-nav li a {
  padding: 15px;
  color: white;
  text-decoration: none;
}

.msb .nb {
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

/* Side bar Naveen */

.navbar-logo{
  margin: 10px 20px;
  margin-bottom: 40px;
}

.msb ul{
  border-bottom: 1px solid red;
}

.msb li {
  margin: .25em;
  display: block;
  position: relative;
}

#Dashboard {
  margin-left: 200px;
  position: relative;
  min-height: 100%;
  /*content view*/
}

#actions {
  margin-left: 200px;
}

body {
  font-family: "Poppins", sans-serif;
}

.bg-color {
  background-color: #382f9c !important;
}

.card-img-st > img {
  background: rgb(255 255 255 / 17%);
  padding: 13px;
  border-radius: 5px;
}

.card-img-st1 > img {
  background: rgb(255 255 255 / 80%);
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #d3d2d2;
}

.card-text-active {
  font-size: 13px;
  text-transform: uppercase;
  color: rgb(255 255 255 / 51%);
}

.card-text-active1 {
  font-size: 13px;
  text-transform: uppercase;
  color: rgb(143 141 141);
}

.incre {
  background-color: rgb(62 185 111 / 86%);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.decre {
  background-color: rgb(220 53 69 / 35%);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.icon-style {
  margin-right: 6px;
  font-size: 10px;
}

.incre-font {
  font-size: 13px;
  font-weight: 400;
}

.time-sheet-btn, .add-btn, .view-btn {
  color: #382f9c;
  background: #e0defb;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  padding: 7px 14px;
}

.time-sheet-btn:hover, .add-btn:hover, .view-btn:hover {
  color: #e0defb;
  background:  #382f9c;
}

.play-btn {
  color: #e0defb;
  background: #382f9c;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  padding: 7px 14px;
}
.play-btn:hover {
  color:  #382f9c;
  background: #e0defb;
}

.pad {
  padding: 10px 12px;
}

.shad{
  box-shadow: rgb(149 157 165 / 13%) 0px 10px 13px;
}
.t-15 {
  font-size: 15px;
}

.t-12 {
  font-size: 12px;
}

.date{
  font-weight: 600;
  font-size: 22px;
}

.purp{
  color: #382F9C;
}

.mon{
  font-size: 12px;
  margin-top: -7px;
}

.grey-border{
  border-bottom: 1px solid #cfc6c6;
}

.grey-border-right{
  border-right: 1px solid #cfc6c6;
}

.py7{
  padding: 0.7rem 0;
}

#msbo{
  margin: -41px 184px;
  position: absolute;
}

tr{
  border-bottom: hidden;
}

.project-list .number {
  background: rgba(226, 10, 10, 0.17);
  color: rgb(226, 10, 10) ;
  padding: 7px;
  margin: 2px;
  border-radius: 2px;
  font-size: small;
  font-style: bold;
  font-weight: 500;
}

body.msb-x .msb {
  margin-left: -200px;
  animation-duration: 1s;
  animation-name: slidein;
}

body .msb {
  margin-left: 0px;
  animation-duration: 1s;
  animation-name: slideout;
}

body.msb-x #Dashboard, body.msb-x #actions {
  margin-left: 0px;
  animation-duration: 1s;
  animation-name: slidein1;
}

body #Dashboard, body #actions {
  margin-left: 200px;
  animation-duration: 1s;
  animation-name: slideout1;
}


@keyframes slidein {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: -200px;
  }
}

@keyframes slideout {
  from {
    margin-left: -200px;
  }

  to {
    margin-left: 0px;
  }
}

@keyframes slidein1 {
  from {
    margin-left: 200px;
  }

  to {
    margin-left: 0px;
  }
}

@keyframes slideout1 {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: 200px;
  }
}

@media only screen and (max-width: 600px) {
  body,
  .btn {
    font-size: small;
  }
}
